@charset "utf-8";
/*
	870px / 16px = 54.375em
	@media screen and (min-width: 54.375em)
*/

div.menu {
	font-size:2em;
}

div.namepage, div.options {
	font-size:1.375em;
}

.call {
	display:none;
}

.sms {
	display:none;
}
